/* Tweaking the bootstrap */

/* Variable Overrides */

.jumbotron {
  background-image: url("../images/cpr_practice.png");
  background-size: cover;
  background-position: center;
}

.jumboHVLST {
  background-color: white;
  opacity: 0.5;
}

#jumbocustom {
  text-align: center;
  color: rgba(0, 0, 255, 1.0);
  font-weight: 600;
}

.card {
  margin-top: 24px;
}
