body {
  font-family: Arial, sans-serif;
  /* color: rgba(64,64,64,255); */
}
h1 {
  font-family: Arial, sans-serif;
  color: blue;
}
h2 {
  font-family: Arial, sans-serif;
  color: blue;
}
.center {
  display: block;
  margin: auto;
  width: 90%;
}
